<div class="home">
    {% mount '../form' with {
        addPoint: addPoint
    } %}
    {% include '../point-list/List.twig' with {
        points: points
    } %}
    {% mount '../canvas' with {
        points: points
    } %}
</div>
