<form ref="{{ addPointForm }}">
    <input type="text" id="point_x" name="point_x" placeholder="Insert x value" />
    <input type="text" id="point_y" name="point_y" placeholder="Insert y value" />
    <button type="submit">Submit</button>
</form>
